<div id="rankings">
    <h1 id="title">Player Rankings</h1>
    <div id="rankings-table-border">
        <table id="rankings-table">
            <tr id="rankings-header">
                <th class="rank">Rank</th>
                <th class="bio">Player</th>
                <th class="points">Points</th>
            </tr>
            <tr class="player gold">
                <td class="rank">1</td>
                <td class="bio">
                    <img class="photo" src="https://scores.iplt20.com/ipl/images/default-player-statsImage.png?v=4"/>
                    <div class="player-text">
                        <p class="name">Name</p>
                        <p class="data">Team | Position</p>
                    </div>
                </td>
                <td class="points">0</td>
            </tr>
            <tr class="player silver">
                <td class="rank">2</td>
                <td class="bio">
                    <img class="photo" src="https://scores.iplt20.com/ipl/images/default-player-statsImage.png?v=4"/>
                    <div class="player-text">
                        <p class="name">Name</p>
                        <p class="data">Team | Position</p>
                    </div>
                </td>
                <td class="points">0</td>
            </tr>
            <tr class="player bronze">
                <td class="rank">3</td>
                <td class="bio">
                    <img class="photo" src="https://scores.iplt20.com/ipl/images/default-player-statsImage.png?v=4"/>
                    <div class="player-text">
                        <p class="name">Name</p>
                        <p class="data">Team | Position</p>
                    </div>
                </td>
                <td class="points">0</td>
            </tr>
            <tr class="player">
                <td class="rank">4</td>
                <td class="bio">
                    <img class="photo" src="https://scores.iplt20.com/ipl/images/default-player-statsImage.png?v=4"/>
                    <div class="player-text">
                        <p class="name">Name</p>
                        <p class="data">Team | Position</p>
                    </div>
                </td>
                <td class="points">0</td>
            </tr>
            <tr class="player">
                <td class="rank">5</td>
                <td class="bio">
                    <img class="photo" src="https://scores.iplt20.com/ipl/images/default-player-statsImage.png?v=4"/>
                    <div class="player-text">
                        <p class="name">Name</p>
                        <p class="data">Team | Position</p>
                    </div>
                </td>
                <td class="points">0</td>
            </tr>
        </table>
    </div>
</div>