#navbar {
    width: 100vw;
    height: 75px;
    background-color: #073763;
}

.navbar-component {
    display: inline-block;
}

#logo-container {
    width: 50px;
    height: 50px;
    margin-left: 12px;
    position: relative;
    top: 12px;
    background-color: #FAAA4B;
    border-radius: 15px;
}

#logo {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
}

.navbar-link {
    margin-left: 15px;
    position: relative;
    top: 5px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.navbar-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

#logout {
    width: 150px;
    height: 50px;
    margin-right: 12px;
    position: relative;
    top: 12px;
    float: right;
}

@media (max-width: 768px) {
    .navbar-link {
        margin-left: 10px;
        font-size: 18px;
    }

    #logout {
        width: 100px;
        font-size: 18px;
    }
}