<div id="join">
    @if (leagueName === '') {
        <h1 id="header">Join a League</h1>
    } @else {
        <h1 id="header">Join {{leagueName}}</h1>
    }
    <div id="form">
        @if (leagueName === '') {
            <h3 class="text prompt">League Name:</h3>
            <input type="text" id="name" class="text input" #name>
            <h3 class="text prompt">League Password:</h3>
            <input type="password" id="password" class="text input" #password>
            <button id="submit" (click)="handleVerify(name.value, password.value)">Join</button>
        } @else {
            <h3 class="text prompt">Squad Name:</h3>
            <input type="text" class="text input" [(ngModel)]="name">
            @for (player of players; track $index; let i = $index;) {
                @if (i == 0) {
                    <h3 class="text prompt">Captain:</h3>
                } @else if (i == 1) {
                    <h3 class="text prompt">Vice Captain:</h3>
                } @else {
                    <h3 class="text prompt">Player {{i - 1}}:</h3>
                }
                <input type="text" class="text input" [(ngModel)]="players[i]">
            }
            <button id="submit" (click)="handleJoin()">Join</button>
        }
    </div>
</div>