<div id="squad">
    @if (loaded) {
        <h3 id="league">{{league}}</h3>
        <h1 id="name">{{data.squad.name}}</h1>
        <div id="squad-table-border">
            <table id="squad-table">
                <tr id="squad-header">
                    <th class="rank">Rank</th>
                    <th class="bio">Player</th>
                    <th class="points">Points</th>
                </tr>
                @for (player of data.players; track $index) {
                    <tr class="player">
                        <td class="rank">{{player.rank}}</td>
                        <td class="bio">
                            <img class="photo" [src]="player.photo" (error)="invalidImage($event)"/>
                            <div class="player-text">
                                <p class="name">{{player.name}}</p>
                                <p class="data">{{player.team}} | {{player.position}}</p>
                            </div>
                        </td>
                        <td class="points">{{player.points}}</td>
                    </tr>
                }
            </table>
        </div>
    } @else {
        <p id="loading">Loading...</p>
    }
</div>
