#squad {
    padding: 25px;
    padding-bottom: 0;
}

#league {
    font-size: 24px;
}

#name {
    font-size: 40px;
}

#squad-table-border {
    margin-top: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #CCCCCC;
    border-radius: 10px;
    overflow: hidden;
}

#squad-table {
    width: 100%;
    border-collapse: collapse;
}

#squad-table tr {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #CCCCCC;
}

#squad-table tr:last-child {
    border-bottom-style: none;
}

#squad-header {
    color: white;
    background-color: #073763;
}

.rank {
    width: 65px;
    font-weight: bold;
    text-align: center;
}

.bio {
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
}

.photo {
    height: 75px;
    display: inline-block;
    vertical-align: middle;
}

.data {
    font-size: 14px;
}

.player-text {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.points {
    width: 85px;
    padding-right: 20px;
    text-align: right;
}

.player {
    background-color: white;
}

.player:hover {
    cursor: pointer;
}

.player:hover .name {
    font-weight: bold;
    text-decoration: underline;
}

#loading {
    font-size: 18px;
}

.stats-section {
    width: calc(100% - 44px);
    margin-top: 10px;
    padding: 20px;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #CCCCCC;
    border-radius: 10px;
}

.first {
    margin-top: 10px;
}

.stats-header {
    font-size: 24px;
}

#stats-table-border {
    margin-top: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #CCCCCC;
    border-radius: 10px;
    overflow: hidden;
}

#stats-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

#stats-table tr {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #CCCCCC;
}

#stats-table tr:last-child {
    border-bottom-style: none;
}

#stats-header {
    color: white;
    background-color: #073763;
}

.text {
    padding: 5px;
    font-size: 18px;
    text-align: center;
}

.stats-row:nth-child(odd) {
    background-color: #EEEEEE;
}

.stats-row td {
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: #CCCCCC;
}

.stats-row td:last-child {
    border-right-style: none;
}

@media (max-width: 768px) {
    .rank {
        width: 40px;
    }

    .bio {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .photo {
        display: none;
    }

    .player-text {
        margin-left: 0;
    }

    .name {
        font-size: 14px;
    }

    .data {
        font-size: 12px;
    }

    .points {
        width: 55px;
    }

    .text {
        font-size: 16px;
    }
}